<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:urn="urn:schemas-microsoft-com:asm.v1" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xdt:Import assembly="ComponentHost" namespace="ComponentHost.Transforms"/>

  <appSettings xdt:Transform="InsertIfMissing">

    <add key="Providers.HubSpotClientId"                                 value="" xdt:Locator="Condition(@key='Providers.HubSpotClientId')" xdt:Transform="Replace"/>
    <add key="Providers.HubSpotClientSecret"                             value="" xdt:Locator="Condition(@key='Providers.HubSpotClientSecret')" xdt:Transform="Replace"/>

  </appSettings>

</configuration>

