<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUri" value="https://api.hubapi.com" />
    <add key="apiToken" value="4fad15b1-8d51-4919-b11a-125bd9346e51" />
    <add key="customerSubDomain" value="" />
    <add key="lastCrawlFinishTime" value="2019-06-19 00:00:00"/>
    <add key="hubSpotLoginUri" value="https://app.hubspot.com/login" />
  </appSettings>
</configuration>