<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Providers.HubSpotBaseUri" value="https://api.hubapi.com" />
    <add key="Providers.HubSpotApiToken" value="4fad15b1-8d51-4919-b11a-125bd9346e51" />
    <add key="Providers.HubSpotCustomerSubDomain" value="" />
    <add key="Providers.HubSpotLastCrawlFinishTime" value="2019-06-19 00:00:00"/>
    <add key="Providers.HubSpotLoginUri" value="https://app.hubspot.com/login" />
  </appSettings>
</configuration>